:root {
  --tamanho-linha: 6
}

.form {
  display: grid;
  grid-template-columns: repeat(var(--tamanho-linha), 1fr);
}

.campo {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#log {
  max-height: 450px;
  overflow-x: scroll;
}

@media (max-width: 1000px){
  :root{
    --tamanho-linha: 3;
  }
}

@media (max-width: 700px){
  :root{
    --tamanho-linha: 2;
  }
}

tr td:first-child {
    font-weight: bold;
    border: none;

}

td {
  border-top: 1px solid;
  border-left: 1px solid;
}